<html>
<title>CONTACT</title>
<A HREF="/login">HOME</A>
<A HREF="/about">ABOUT</A>
<A HREF="/gallery">GALLERY</A>
<A HREF="/contact">CONTACT</A>
<A HREF="/order">ORDER</A>
<br></br>
<head><center align="center"><h1><font color = "663300">SELLER DETAILS</h1></center></head>
<br></br>
<body bgcolor="FFFFCC">
<p><center align="center">
<h2><font color = "brown">SELLER NAME: Mr. Potter</h2></center>
<center align="center">
<h2><font color = "brown"> MOBILE NO: 9848622246</h2></center>
<center align="center">
<h2><font color = "brown">WHATSAPP NO: 9842756339</h2></center>
<center align="center">
<h2><font color = "brown"> EMAIL: potter654@gmail.com</h2></center>
<center align="center">
<h2><font color = "brown"> ADDRESS: Los Angels, New York</h2></center>
</p>
</body>
</html>


